.map-center {
    border: 5px solid #0a9aed5f;
    border-radius: 10px;
}

.error-message {
    border: 5px solid #ffb366;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
    background-color: #ffb3665f;
}

.intro {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    background-color: #0a9aed5f;
    color: black;
    border-radius: 10px;
}

.overlay {
    opacity: 0.7;
    border-radius: 8px;
    background-color: @theme_bg_color;
}
