#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Exec=/app/bin/gtk-meteo.sh
Name=GTK Meteo
StartupNotify=true
Categories=GTK;Utility
Comment=Select location from map and show weather forecast
Icon=ch.bailu.gtk_meteo
X-Purism-FormFactor=Workstation;Mobile;
