[Desktop Entry]
Type=Application
Terminal=false
Exec=/app/bin/gtk-meteo.sh
Name=GTK Meteo (Flatpak)
Comment=Select location from map and show weather forecast
Icon=/app/share/icons/ch.bailu.gtk-meteo.svg
